
Pods/Pods.xcodeproj/xcuserdata/pooma.xcuserdatad/xcschemes/xcschememanagement.plist
ChatKit.xcworkspace/xcuserdata/pooma.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChatKit.xcworkspace/xcuserdata/pooma.xcuserdatad/UserInterfaceState.xcuserstate
ChatKit.xcodeproj/xcuserdata/pooma.xcuserdatad/xcschemes/xcschememanagement.plist
